*.json
*.yml
*.properties

logs
libraries
crash-reports
plugins

world/advancements
world/DIM-1
world/DIM1
world/playerdata
world/stats
world/region
world/worldsaves
world/*.dat
world/*.dat_old
world/*.lock

world/data/advancements
world/data/*.dat